version: 2
jobs:
  build:
    environment:
      GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"
      _JAVA_OPTIONS: -Xms512m -Xmx1024m
    docker:
      - image: circleci/android:api-28-alpha

    steps:
    - checkout
    
    - restore_cache:
        keys:
        - v1-dep-{{ .Branch }}-
    
    - run: ./gradlew clean test jacocoTestReport --continue --console=plain

    - save_cache:
            key: v1-dep-{{ .Branch }}-{{ epoch }}
            paths:
            - ~/.gradle
            - ~/.android
            - /usr/local/android-sdk-linux/extras

    - run:
          name: Upload Coverage
          when: on_success
          command: bash <(curl -s https://codecov.io/bash) -Z -C $CIRCLE_SHA1